{% extends "layout.html" %}


{% block content %}

<div class="text-center h1 text-danger">Confirmation of purchase</div>
    <p><input type=submit value="Home Page" class="btn btn-info mt-2"> 
    <input type=submit value="Products Page" class="btn btn-info mt-2">
    <input type=submit value="Wishlist" class="btn btn-info mt-2">
    <input type=submit value="Basket" class="btn btn-info mt-2">
    <input type=submit value="Checkout" class="btn btn-info mt-2"></p>



    <p>Thank you for your purchase. Your order number is #CDF658E</p>
{% endblock content %}