{% extends 'layout.html' %}
{% block head %}
<title>Homepage</title>
{% endblock head%}

{% block content %}

<div class="row">
    <div id="Title" class="col-md-12">
        <h1>Home</h1>
    </div>
</div>


<div class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-md-3 mt-3">
      <div class="card">
        <img src="{{url_for('static', filename='img/'+product.image_1)}}"
        alt="{{product.name}}" class="card-img-top">
        <div class="card-body">
          <h5 class="text-center">{{product.name}}</h5>
          <p class="text-center">£{{product.price}}</p>
        </div>
        <div class="card-footer">
          <a href ="{{url_for(single_page)}}" class="float-left btn btn-sm btn-primary">Details</a>
          <a href ="#" class="float-right btn btn-sm btn-warning">Add to Cart</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
