{% extends "layout.html" %}
{% block content %}
<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <form action="{{ url_for('profile') }}" method="POST">
        <div class="form-group">
            {{ render_field(form.name, class="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.email, class="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.password, class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Update Profile</button>
        <a href="{{ url_for('deleteaccount') }}" class="btn btn-danger">Delete Account</a>
    </form>
</div>
{% endblock content %}
