<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='style.css') }}">
    <title>Homepage</title>
</head>
<body>

    <h1 id="Title">Title of the store</h1>

    <div id="header">
    </div>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>

    <div id="header">
      <a href="{{ url_for('home') }}" class="header">Home</a>&nbsp
      <a href="basket.html">Basket</a>
      <a href="{{ url_for('wishlist') }}">Wish List</a>
    </div>

    <div class="flex-container">
        <div>featured item 1
          <a href="{{ url_for('product', product_id=product.id) }}">"{{ product.title }}"</a></div>
        <div>featured item 2</div>
        <div>featured item 3</div>
        <div>featured item 4</div>
        <div>featured item 5</div>
        <div>featured item 6</div>

    </div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>


</body>
</html>
